body {
    font-family: 'Syne Mono', monospace;
    background-color: #000;
    color: #00ff00;
}

#timer {
    color: #fff;
    font-size: 14pt;
}

#typewriter:after{
    content: "|";
    animation: blink 500ms linear infinite alternate;
    color: white;

}

.bg-dark {
    background-color: #000 !important;
}

#score-table {
    border: 1px solid #00ff00;
}

h6 {
    font-weight: bold;
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}